.nav {
    grid-area: nav;
    background-color: #282c34;
    min-width: 20vw;
}

.item {
    color: white;
}

.item a.active {
    color: gold;
}
.item a {
    color: white;
    text-decoration: none;
}

