.App {
  display: grid;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 2vw;
  text-align: center;
}

.App-link {
  color: #61dafb;
}
