.header {
  display: grid;
  grid-area: header;
  grid-template-areas:
  "logo info";
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 2fr 10fr;
  min-height: 10vh;
}

.header img {
  grid-area: logo;
  height: 10vh;
  pointer-events: none;
}

.info {
  grid-area: info;
  text-align: right;
}
